.contributors {
    display: flex;
    align-items: center;

    small {
        margin-right: 0.5em;
        margin-bottom: 0.4em;
    }

    nav {
        display: flex;

        .md-author {
            margin: 0 0.4em 0.4em 0;
        }
    }
}

.md-status--incomplete::after {
    background-color: var(--md-code-bg-color);
    color: var(--md-default-fg-color);
    border-radius: 0.2rem;
    content: "Incomplete";
    font-size: 0.5rem;
    height: auto;
    padding: 0.1rem 0.5em;
    -webkit-mask-image: none;
    width: auto;
}

.md-status--incomplete:hover::after {
    background-color: var(--md-code-bg-color);
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.is-variable {
    padding-left: 0;
    display: inline-block;

    &::before {
        content: " ";
        background: #00aaf5;
        mask-repeat: no-repeat;
        margin-right: 0.35em;
        padding: 0 0.65em;
        mask-image: url(/handbook/assets/icons/variable.svg);
    }

    &.boolean { &::before { background: #950000; } }
    &.byte { &::before { background: #006f65; } }
    &.integer { &::before { background: #1fe3af; } }
    &.integer64 { &::before { background: #ace3af; } }
    &.float { &::before { background: #38d500; } }
    &.name { &::before { background: #cd82ff; } }
    &.string { &::before { background: #ff00d4; } }
    &.text { &::before { background: #e77caa; } }
    &.vector { &::before { background: #ffca23; } }
    &.rotator { &::before { background: #a0b4ff; } }
    &.transform { &::before { background: #ff7300; } }
    &.enum { &::before { background: #006f65; } }
}

.blueprintue {
    width: 100%;
    min-height: 360px;
    border: none;
    margin: -8px; // blueprintUE adds an 8px margin for some reason!
}